<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/favicon.ico">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            YHKL Blog
        
    </title>
    
    
<meta name="generator" content="Hexo 5.4.0"></head>
<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.webp">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/" link>
            <v-list-item-icon><v-icon>home</v-icon></v-list-item-icon>
            <v-list-item-content>
                Index
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                Archives
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="/about/" link>
            <v-list-item-icon><v-icon>account_circle</v-icon></v-list-item-icon>
            <v-list-item-content>
                About
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
                
                    <v-list-item href="/categories/Linux/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="1" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>Linux</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:kb1000fx@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/yhkl-dev" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://steamcommunity.com/profiles/76561198346798163" target="_blank">
                    <v-icon>fab fa-steam</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://weibo.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-weibo</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    Total Visitors <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2015 - 2021 
                yhkl
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">YHKL Blog</a>
      </div>
      <div id="site-description"></div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/">
              <v-icon>home</v-icon>
            </v-btn>
          
            
            <v-btn icon href="/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
            
            <v-btn icon href="/about/">
              <v-icon>account_circle</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-10-30
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2021/10/30/hello-world/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/10/30/hello-world/">Hello World</a>
      </div>
      
      <div class="index-article-content">
        
          Welcome to Hexo! This is your very first post. Check documentation for more info. If you get any problems when using Hexo, you can find the answer in troubleshooting or you can ask me on GitHub.
Quick StartCreate a new post1$ hexo new &quot;My New Post&quot;

More info: Writing
Run server1$ hexo ...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/10/30/hello-world/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-06-07
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/vue/ >vue</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2021/06/07/360-%E6%9E%81%E9%80%9F%E6%A8%A1%E5%BC%8F/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/06/07/360-%E6%9E%81%E9%80%9F%E6%A8%A1%E5%BC%8F/">360 极速模式</a>
      </div>
      
      <div class="index-article-content">
        
          代码如下：
1234&lt;head&gt;    &lt;meta name=&quot;renderer&quot; content=&quot;webkit|ie-comp|ie-stand&quot;&gt;    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge,chrome=1&quot;&gt;&lt;/head&gt;             



        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/06/07/360-%E6%9E%81%E9%80%9F%E6%A8%A1%E5%BC%8F/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-02-06
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/design-pattern/ >design pattern</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2021/02/06/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F%EF%BC%88%E4%BA%8C%EF%BC%89/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/02/06/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F%EF%BC%88%E4%BA%8C%EF%BC%89/">设计模式（二）</a>
      </div>
      
      <div class="index-article-content">
        
          1.什么是设计模式
设计模式是对被用来在特性场景下解决一般设计问题的类和相互通信的对象的描述


模式名称
一个助记名，用一两个词来描述模式的问题，解决方案和效果。

问题
描述了应该在何时使用模式

解决方案
描述了设计的组成成分，他们之前的相互关系及各自的职责和协作方式，因为模式就像一个模板，可应用于多种不同场合。

效果
描述了模式应用的效以及使用模式应权衡的问题


2.描述设计模式
模式名和分类

意图

别名

动机
用以说明一个设计问题以及如何用模式中的类、对象来解决该问题的特定情景

适用性

结构

参与者
设计模式中的类和/或对象以及他们各自的职责

协作

效果

...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/02/06/%E8%AE%BE%E8%AE%A1%E6%A8%A1%E5%BC%8F%EF%BC%88%E4%BA%8C%EF%BC%89/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-24
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/docker/ >docker</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/oracle/ >oracle</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/08/24/Docker-Oracle-11g%E9%85%8D%E7%BD%AE/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/24/Docker-Oracle-11g%E9%85%8D%E7%BD%AE/">Docker Oracle 11g配置</a>
      </div>
      
      <div class="index-article-content">
        
          1.拉取Oracle镜像12345# docker pull registry.cn-hangzhou.aliyuncs.com/helowin/oracle_11g# docker imagesregistry.cn-hangzhou.aliyuncs.com/helowin/oracle_11g                          latest             3fa112fd3642        4 years ago         6.85GB

2.创建容器1# docker run -d -p 1521:1521 --name oracle11g r...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/24/Docker-Oracle-11g%E9%85%8D%E7%BD%AE/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-24
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/python/ >python</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/code/ >code</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/08/24/Python%E5%BC%82%E5%B8%B8%E7%B1%BB%E7%9A%84%E5%B1%82%E6%AC%A1%E7%BB%93%E6%9E%84/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/24/Python%E5%BC%82%E5%B8%B8%E7%B1%BB%E7%9A%84%E5%B1%82%E6%AC%A1%E7%BB%93%E6%9E%84/">Python异常类的层次结构</a>
      </div>
      
      <div class="index-article-content">
        
          12345678910111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364BaseException +-- SystemExit +-- KeyboardInterrupt +-- GeneratorExit +-- Exception      +-- StopIteration      +-- StopAsyncIteration      +-- ArithmeticError      |    +-- Float...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/24/Python%E5%BC%82%E5%B8%B8%E7%B1%BB%E7%9A%84%E5%B1%82%E6%AC%A1%E7%BB%93%E6%9E%84/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Linux/ >Linux</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/system/ >system</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/08/15/Linux-strace%E4%BD%BF%E7%94%A8/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/15/Linux-strace%E4%BD%BF%E7%94%A8/">Linux strace使用</a>
      </div>
      
      <div class="index-article-content">
        
          
在操作系统运维中会出现程序或系统命令运行失败，通过报错和日志无法定位问题根本原因
比如keepalive脚本执行失败，但是体现在日志中是其他提示，没有相关报错
如何在没有内核或程序代码的情况下查看系统调用的进程

strace工具介绍
strace是一个非常有用的诊断、说明和调试工具，Linux系统管理员可以在不需要源代码的情况下即可跟踪系统调用情况
strace显示有关进程的系统调用的信息，这可以帮助确定一个程序使用的哪个函数，当然在系统出现问题时可以使用strace定位系统调用过程中失败的原因，这是定位系统问题的很好的解决办法

参数解析
-c
统计每一体统调用所执行的时间，次数和...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/15/Linux-strace%E4%BD%BF%E7%94%A8/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-06-06
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/PostgreSQL/ >PostgreSQL</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/06/06/PostgreSQL-%E5%B8%B8%E7%94%A8%E5%91%BD%E4%BB%A4/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/06/06/PostgreSQL-%E5%B8%B8%E7%94%A8%E5%91%BD%E4%BB%A4/">PostgreSQL 常用命令</a>
      </div>
      
      <div class="index-article-content">
        
          连接数据库, 默认的用户和数据库是postgres
1psql -U user -d dbname

切换数据库,相当于mysql的use dbname
1\c dbname

列举数据库，相当于mysql的show databases
1\l

列举表，相当于mysql的show tables
1\dt

查看表结构，相当于desc tblname,show columns from tbname
1\d tblname

查看索引 
1\di

创建数据库： 
1create database [数据库名];

删除数据库： 
1drop database [数据库名];

重命名一...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/06/06/PostgreSQL-%E5%B8%B8%E7%94%A8%E5%91%BD%E4%BB%A4/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-06-06
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/golang/ >golang</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/06/06/Golang-%E5%BC%80%E5%90%AFgo-mod/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/06/06/Golang-%E5%BC%80%E5%90%AFgo-mod/">Golang 开启go mod</a>
      </div>
      
      <div class="index-article-content">
        
          1. 开启Go module1.11和1.12版本将下面两个设置添加到系统的环境变量中
12GO111MODULE=onGOPROXY=https://goproxy.io

1.13版本之后
需要注意的是这种方式并不会覆盖之前的配置，有点坑，你需要先把系统的环境变量里面的给删掉再设置

12go env -w GO111MODULE=ongo env -w GOPROXY=https://goproxy.cn,https://goproxy.io,direct

2. go get使用
使用go module之后，go get 拉取依赖的方式就发生了变化


下载项目依赖

1go g...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/06/06/Golang-%E5%BC%80%E5%90%AFgo-mod/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-05-29
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/debian/ >debian</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/05/29/Debian-%E5%85%B3%E9%97%AD%E5%9B%BE%E5%BD%A2%E7%95%8C%E9%9D%A2/">Uncategorized></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/05/29/Debian-%E5%85%B3%E9%97%AD%E5%9B%BE%E5%BD%A2%E7%95%8C%E9%9D%A2/">Debian 关闭图形界面</a>
      </div>
      
      <div class="index-article-content">
        
          
因为自己不喜欢用图形化页面，所以把debian的图形化关了。
配置如下

编辑grub配置文件123456789101112vi /etc/default/grub# If you change this file, run ‘update-grub’ afterwards to update # /boot/grub/grub.cfg. # For full documentation of the options in this file, see: # info -f grub -n ‘Simple configuration’GRUB_DEFAULT=0 GRUB_TIMEOU...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/05/29/Debian-%E5%85%B3%E9%97%AD%E5%9B%BE%E5%BD%A2%E7%95%8C%E9%9D%A2/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-05-25
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/centos/ >centos</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/tools/ >tools</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/Linux/">Linux></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/05/25/Centos-split-%E5%88%87%E5%89%B2%E6%96%87%E4%BB%B6%E5%8F%8A%E5%90%88%E5%B9%B6%E6%96%87%E4%BB%B6/">Centos split 切割文件及合并文件</a>
      </div>
      
      <div class="index-article-content">
        
          云服务器不支持下载很大的文件。
这种情况可以使用split命令切割文件，然后down下来，在本地合并或传到需要的服务器上再合并。
split命令语法如下：
12345678split  [- -help][- -version][-a ][-b][-C ][-l ]  [要切割的文件]  [输出文件名前缀]-a, --suffix-length=N ： 使用的后缀长度 (默认为 2)-b, --bytes=SIZE ： 每个输出文件的字节大小-C, --line-bytes=SIZE ： 每个输出文件每行的最大字节大小-d, --numeric-suffixes ： 使用数字后缀代替字母...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/05/25/Centos-split-%E5%88%87%E5%89%B2%E6%96%87%E4%BB%B6%E5%8F%8A%E5%90%88%E5%B9%B6%E6%96%87%E4%BB%B6/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  


  <div id="pagination" class="text-center">
    <v-pagination 
      v-model="currentPage" 
      :length=9 
      @input="PageChange" 
      prev-icon="chevron_left"
      next-icon="chevron_right"
      color="secondary"
    ></v-pagination>
  </div>
         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2015 - 2021 yhkl</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>








</body>
</html>